header
	background-image: url(../../img/BG25b.png)
	background-repeat: cover
	nav
		text-align: right
		background-color: #FFF
		ul
			margin: 0 20px 0 0
		li
			display: inline-block
			line-decorarion: none
			font-size: 18px
			margin: 5px 0 5px 10px
			padding: 5px 10px
			cursor: pointer
			&:hover
				color: #eee
.wrapper
	margin: 0 50px 0 50px
	h1
		@extend .main_font
		font-size: 64px
	h3
		@extend .main_font
		margin: 0px
		padding: 0px
		text-align: left
	p
		text-align: left
		color: #fff


