- main_title = 'Свадебный Гид'

//-**********************************-//
	Menu, add line with name and link
//-**********************************-//

- menu = []
- menu.push({name: 'О нас', 		link: '#santorini'})
- menu.push({name: 'Цены', 		link: '#santorini'})
- menu.push({name: 'О Санторини', 	link: '#santorini'})
- menu.push({name: 'Галерея', 		link: '#gallery'})
- menu.push({name: 'Отзывы', 		link: '#gallery'})
